In [39]:
import pandas as pd
import numpy as np

df1 = pd.read_csv('data\BartenderExaminer_Final.csv', index_col=0)
df2 = pd.read_csv('data\cocktail_input_vikram.csv')
df3 = pd.read_csv('data\RS_Cleaned_Cocktail_Data.csv')

## Use Vikram's Data as Template

In [40]:
df2.head()

,Liquor,Ingredient1,Ingredient2,Ingredient3,Ingredient4,Ingredient5,Ingredient6,Ingredient7,Ingredient8,Garnish,Question1,Question2,Question3,Question4
0,Rum,Lime juice,Simple Syrup,grenadine,NaN,NaN,NaN,NaN,NaN,Lime Wheel,d,c,b,e
1,Coconut Rum,Melon Liqueur,Orange juice,Pineapple juice,NaN,NaN,NaN,NaN,NaN,Orange Slice & Lime Wheel,d,c,b,e
2,Early Times,Apricot Brandy,Pineapple juice,Club Soda,NaN,NaN,NaN,NaN,NaN,Pineapple,a,a,b,b
3,Scotch,Coffee Liqueur,Half & Half,NaN,NaN,NaN,NaN,NaN,NaN,None,a,a,c,e
4,Orange Brandy Liqueur,Amaretto,Vodka,Cranberry juice,NaN,NaN,NaN,NaN,NaN,None,a,c,b,b

### Change colulmn names to match

In [41]:
df1.rename(columns={'a': 'Question1', 'b': 'Question2','c':'Question3','d':'Question4'}, inplace=True)
df1.head()

,Liquor,Ingredient1,Ingredient2,Ingredient3,Ingredient4,Ingredient5,Ingredient6,Ingredient7,Garnish,Question1,Question2,Question3,Question4
0,bourbon,gingerale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,whiskey,fall,Hot club hits,spicy
1,scotch,soda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,whiskey,spring,Hot club hits,frozen
2,seagram 7,7up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,whiskey,fall,Hot club hits,hot
3,whiskey,water,NaN,NaN,NaN,NaN,NaN,NaN,NaN,whiskey,winter,Hot club hits,spicy
4,light rum,coke,NaN,NaN,NaN,NaN,NaN,NaN,NaN,rum,spring,Hot club hits,frozen

In [42]:
df3.rename(columns={'liquor':'Liquor','garnish':'Garnish','question_a_liquor': 'Question1', 'question_b_season': 'Question2','question_c_music':'Question3','question_d_flavor':'Question4'},inplace=True)
df3.head()

,Liquor,Ingredient1,Ingredient2,Ingredient3,Ingredient4,Ingredient5,Ingredient6,Ingredient7,Garnish,Question1,Question2,Question3,Question4
0,brandy,fresh lemon juice,vanilla agave nectar,pineapple gomme syrup,seltzer water,NaN,NaN,NaN,lavendar blossom,whisky,spring,Some Sinatra,fruity
1,brandy,luxardo amaro abano,luxardo maraschino liqueur,NaN,NaN,NaN,NaN,NaN,grapefruit peel,whisky,spring,Big Chart Toppers,sweet
2,vodka,luxardo amaretto di saschira,espresso coffee,NaN,NaN,NaN,NaN,NaN,mint sprig,vodka,winter,Probably Rock,sweet
3,tequila,lemon juice,small hand foods pineapple gum syrup,hand foods pineapple gum syrup,vanilla syrup*,coconut cream**,egg white,NaN,cinnamon (grated),tequila,fall,Some Sinatra,fruity
4,cognac,king's ginger liqueur,fee brothers black walnut bitters,NaN,NaN,NaN,NaN,NaN,luxardo cherries,whisky,fall,Big Chart Toppers,sour

### Change questions1-4 to match a,b,c,d format

In [43]:
df3.Question3.unique()

array(['Some Sinatra', 'Big Chart Toppers', 'Probably Rock',
       'Hot Club Hits'], dtype=object)

In [44]:
q1 = {'whisky':'a','whiskey':'a','vodka':'b','tequila':'c','rum':'d', np.nan:'e', 'other':'e'} 
q2 = {'fall':'a','winter':'b','spring':'c','summer':'d'}
q3 = {'Some Sinatra':'a', 'Probably rock':'b','Probably Rock':'b', 'Big chart-toppers':'c','Big Chart Toppers':'c', 'Hot club hits':'d','Hot Club Hits':'d'}
q4 = {'frozen':'a','fruity':'b','hot':'c','sour':'d','spicy':'e','sweet':'f','floral':'g'}

In [45]:
# change df1 values
df1['Question1'] = df1['Question1'].map(q1)
df1['Question2'] = df1['Question2'].map(q2)
df1['Question3'] = df1['Question3'].map(q3)
df1['Question4'] = df1['Question4'].map(q4)

# change df3 values
df3['Question1'] = df3['Question1'].map(q1)
df3['Question2'] = df3['Question2'].map(q2)
df3['Question3'] = df3['Question3'].map(q3)
df3['Question4'] = df3['Question4'].map(q4)

In [46]:
df1.head()

,Liquor,Ingredient1,Ingredient2,Ingredient3,Ingredient4,Ingredient5,Ingredient6,Ingredient7,Garnish,Question1,Question2,Question3,Question4
0,bourbon,gingerale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a,a,d,e
1,scotch,soda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a,c,d,a
2,seagram 7,7up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a,a,d,c
3,whiskey,water,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a,b,d,e
4,light rum,coke,NaN,NaN,NaN,NaN,NaN,NaN,NaN,d,c,d,a

In [47]:
df3.head()

,Liquor,Ingredient1,Ingredient2,Ingredient3,Ingredient4,Ingredient5,Ingredient6,Ingredient7,Garnish,Question1,Question2,Question3,Question4
0,brandy,fresh lemon juice,vanilla agave nectar,pineapple gomme syrup,seltzer water,NaN,NaN,NaN,lavendar blossom,a,c,a,b
1,brandy,luxardo amaro abano,luxardo maraschino liqueur,NaN,NaN,NaN,NaN,NaN,grapefruit peel,a,c,c,f
2,vodka,luxardo amaretto di saschira,espresso coffee,NaN,NaN,NaN,NaN,NaN,mint sprig,b,b,b,f
3,tequila,lemon juice,small hand foods pineapple gum syrup,hand foods pineapple gum syrup,vanilla syrup*,coconut cream**,egg white,NaN,cinnamon (grated),c,a,a,b
4,cognac,king's ginger liqueur,fee brothers black walnut bitters,NaN,NaN,NaN,NaN,NaN,luxardo cherries,a,a,c,d

## Concatenate the dataframes

In [58]:
df = pd.concat([df1,df2,df3], sort=False)

In [60]:
cols = ['Liquor', 'Ingredient1', 'Ingredient2', 'Ingredient3', 'Ingredient4',
       'Ingredient5', 'Ingredient6', 'Ingredient7',  'Ingredient8','Garnish', 'Question1',
       'Question2', 'Question3', 'Question4']

df = df[cols]
print(df.shape)
df.head()

(1698, 14)

,Liquor,Ingredient1,Ingredient2,Ingredient3,Ingredient4,Ingredient5,Ingredient6,Ingredient7,Ingredient8,Garnish,Question1,Question2,Question3,Question4
0,bourbon,gingerale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a,a,d,e
1,scotch,soda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a,c,d,a
2,seagram 7,7up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a,a,d,c
3,whiskey,water,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a,b,d,e
4,light rum,coke,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,d,c,d,a

In [64]:
df.fillna('', inplace=True)

In [67]:
df.to_csv('all_cocktail_data.csv')

# Create recipe by row csv

In [1]:
import pandas as pd
df = pd.read_csv('all_cocktail_data.csv', index_col=0)
df.fillna('', inplace=True)
df.head()

,Liquor,Ingredient1,Ingredient2,Ingredient3,Ingredient4,Ingredient5,Ingredient6,Ingredient7,Ingredient8,Garnish,Question1,Question2,Question3,Question4
0,bourbon,gingerale,,,,,,,,,a,a,d,e
1,scotch,soda,,,,,,,,,a,c,d,a
2,seagram 7,7up,,,,,,,,,a,a,d,c
3,whiskey,water,,,,,,,,,a,b,d,e
4,light rum,coke,,,,,,,,,d,c,d,a

In [2]:
new_col = ['Question1', 'Question2', 'Question3', 'Question4','Liquor', 'Ingredient1', 'Ingredient2', 'Ingredient3', 'Ingredient4',
       'Ingredient5', 'Ingredient6', 'Ingredient7', 'Ingredient8', 'Garnish']
df = df[new_col]

In [3]:
df_lines = df.apply(lambda x: ' '.join(' '.join(x).split()), axis=1)
df_lines.head(10)

0                            a a d e bourbon gingerale
1                                  a c d a scotch soda
2                                a a d c seagram 7 7up
3                                a b d e whiskey water
4                               d c d a light rum coke
5    d d d a light rum coke squeeze and garnish wit...
6                               b d d d gin tonic lime
7                       a c d a bourbon soda gingerale
8                                b d d a gin soda lime
9    a d d a bourbon soda simple syrup or sugar, bi...
dtype: object

In [4]:
df_lines = df_lines.apply(lambda x: x.lower().replace(',',''))
df_lines.head(10)

0                            a a d e bourbon gingerale
1                                  a c d a scotch soda
2                                a a d c seagram 7 7up
3                                a b d e whiskey water
4                               d c d a light rum coke
5    d d d a light rum coke squeeze and garnish wit...
6                               b d d d gin tonic lime
7                       a c d a bourbon soda gingerale
8                                b d d a gin soda lime
9    a d d a bourbon soda simple syrup or sugar bit...
dtype: object

In [21]:
df_lines.to_csv('all_cocktail_data2.csv', index=False, header=False)

In [5]:
df_lines.to_csv('all_cocktail_data_txt.txt', index=False, header=False)

In [25]:
df_lines.apply(lambda x: len(x)).describe()

count    1698.000000
mean       74.035925
std        29.395248
min        11.000000
25%        52.250000
50%        70.000000
75%        93.000000
max       190.000000
dtype: float64